<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>皮卡丘</title>
<link rel="shortcut icon" href="/dev/favicon.ico"></head>
<body>

这里是头部文件



<div class="container">
    商品详情
    模拟图片
    <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- 如果需要滚动条 -->
            <div class="swiper-scrollbar"></div>
        </div>
    <!--<img width="750" src="/dev/dist/images/item.publish.taobao.com_sell_publish.21455362.png" alt="">-->

    </div>

    <button class="btn btn-danger" type="button" id="hit-me">点我啊</button>
</div>
这里是尾巴
<script type="text/javascript" src="/dev/js/vendor.js?df708c09e15e1cda3970"></script><script type="text/javascript" src="/dev/js/default.product.show.js?df708c09e15e1cda3970"></script></body>
</html>