<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>皮卡丘</title>
</head>
<body>

这里是头部文件



<div class="container">
    商品详情
    模拟图片
    <img src="/dev//dist/images/21455362e3fcd6f8c4eba2935ae1a2ee.png" alt="">
</div>
这里是尾巴
<script type="text/javascript" src="/dev/js/vendor.js?77af8f2399d86fb0d6a7"></script><script type="text/javascript" src="/dev/js/default.product.show.js?77af8f2399d86fb0d6a7"></script></body>
</html>