@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
body{
  color: #fff;
  background-color: #CCCCCC;
  //background-image: url("../../images/zdg.png");
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/zdg.png") no-repeat 0% 20%/ cover;
}

.swiper-container {
  width: 600px;
  height: 300px;
}


